.body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*navegador de mi proyecto*/
#imagen-logo{
    width: 150px;
}

#titulo{
    position: relative;
    font-size: 50px;
    text-align:start;
    text-decoration: underline;
    -webkit-text-stroke: 2px black;
    color: green;
}

/*mi index*/
.main-index{
display: flex;
flex-direction: column;

}
.main-index img{
    margin: 10px;
    border: 10px solid black;
}
.top-imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-imagenes img {
    width: 700px;
}
.bot-imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bot-imagenes img{
    width: 700px;
}
.imagen-1{
    position: absolute;
    top: 55%;
    left: 41%;
    color:green;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
}
.imagen-1:hover{
    transform: scale(1.5);
}
.imagen-2{
    position: absolute;
    top: 130%;
    left: 40%;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
    color: green;
}
.imagen-2:hover{
transform: scale(1.5);
}
.imagen-3{
    position: absolute;
    top: 195%;
    left: 45%;
    color:green;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
}
.imagen-3:hover{
    transform: scale(1.5);
}
.imagen-4{
    position: absolute;
    top: 270%;
    left: 45%;
    color:green;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
}
.imagen-4:hover{
    transform: scale(1.5);
}
/*footer proyecto*/
.footer-index{
    display: flex;
    flex-direction: row;
      position: relative;
    justify-content: center;
}
.footer-index img{
    width: 100px;
}
/*page-somos*/
.top-somos{
    display: flex;
    flex-direction: row;
    top: 25px;
     position: relative;
}
.top-somos img{
    width: 50%;
   position: relative;
    border: 5px solid black;
    right: 7px;
    border-radius: 15px;
}
.top-somos p {
    font-size: 25px;
    text-align: justify;
    margin: 10px;
}
.bot-somos{
display: flex;
flex-direction: row-reverse;

}
.bot-somos img{
    width: 50%;
    position: relative;
    top: 45px;
    left: 12px;
    border: 5px solid black; 
    border-radius: 15px;
}
.bot-somos p{
    position: relative;
    top: 45px;
    font-size: 25px;
    text-align: justify;
    margin: 10px;
}
/*page-catalogo-desktop*/
.main-catalogo{
    display: grid;
    margin: 2px;
    grid-template-areas:
    "main-beer-1 main-beer-2" 
    "main-beer-3 main-beer-4";
    position: relative;
    margin: 30px;
    
}
.main-catalogo img{
    width: 450px;
    height: 250px;
    border: 5px solid black;
}
.main-catalogo img:hover{
    transform: scale(1.2);

}
.list-catalogo{
    list-style: none;
}
.list-catalogo li{
    list-style: none;
}
.main-beer-1{
    grid-area: main-beer-1;
}
.main-beer-2{
    grid-area: main-beer-2;
}
.main-beer-3{
    grid-area: main-beer-3;
}
.main-beer-4{
    grid-area: main-beer-4;
}
/*page-concato-desktop*/
.main-contacto form {
    width: 450px;
    margin: auto;
    background :rgba(0, 0, 0, 0.4) ;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    
}
.main-contacto h2 {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: 0%;
    font-size: 30px;
    margin-bottom: 20px;
}
.main-contacto input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
.main-contacto textarea{
    min-height: 100px;
    max-height: 200px ;
    max-width: 100%;
 }
 #boton{
    background-color: black;
    color: white;
    padding: 20px;
    }
 #boton:hover {
    cursor: pointer;
 }
 /*page-barril-desktop*/
 .main-barril p { 
   position: relative;
   top: 35px;
   text-align: justify;
   font-size: 25px;
   margin: 10px;
 }
 .main-barril img {
    width: 50%;
    position: relative;
    top: 30px;
    left:25%;
    border: 5px solid black;
    border-radius: 15px;
    }
    @media screen and (max-width: 1024px){
        .container-fluid{
          position: relative;
          margin:30px;

        }
        .imagen-1{
          top: 50%;
          left: 38%;
        }
        .imagen-2{
          top: 118%;
          left: 38%;
        }
        .imagen-3{
          top: 183%;

        }
        .imagen-4{
          top: 245%;
        }
        #titulo {
          width: 100%;
          height: 100%;
          left: 20%;

        }
        
        .bot-somos img{
          left: 0;
        }
        .dropdown{
          margin: 8px;
        }
        }
      
      
      

@media screen and (max-width:768px){
    
    #titulo{
      font-size: 50px;
      margin: 0%;

       }
    .nav-index ul{
        left: -1%;
        flex-direction: column;
    }
    #imagen-logo{
        width: 150px;
        position:relative;
        justify-content: center;
    }
    .imagen-1{
        top: 83%;
        left: 35%;
    }
    .imagen-2{
        top: 175%;
        left: 35%;
        
    }
    .imagen-3{
        top: 260%;
    }
    .imagen-4{
        top: 340%;
        left: 40%;
    }
    .main-catalogo img{
        width: 100%;
        height: 200px;
    }
    #titulo{
        left: 30%;
    }
    .footer-index img{
        width: 50px;
    }
    .bot-somos img{
      margin: 0%;
      left: 1%;
   
          }
 }
 @media screen and (max-width: 320px) {
  /*page contacto mobile*/
  .main-contacto-form {
    width: 100%;
  }
  #titulo {
    font-size: 35px;
    color: green;
    left: 20%;
    margin: 0;
  }
  #imagen-logo {
    width: 100px;
  }
  /*imagenes de index*/
  .top-imagenes {
    margin: 0%;
  }
  .top-imagenes img {
    width: 94%;
    margin: 3%;
  }
  .bot-imagenes img {
    width: 94%;
    margin: 3%;
  }
  .imagen-1{
      top: 60%;
      left: 20%;
      font-size: 30px;
  }
  
  .imagen-2 {
    top: 106%;
    left: 18%;
    font-size: 30px;

  }
  .imagen-3 {
    top: 143%;
    left: 37%;
    font-size: 30px;
  }
  .imagen-4 {
    top: 180%;
    left: 33%;
    font-size: 30px;
  }
  .top-somos {
    flex-direction: column;
    margin: 0%;
    left: -2%;
  }
  .bot-somos {
    margin: 0%;
    display: flex;
    flex-direction: column;
  }
  .top-somos img {
    width: 100%;
    right: 0;
    margin: 0%;
  }

  .bot-somos img {
    width: 98%;
    left: 0%;
  }

  .footer-index img {
    width: 50px;
  }

  /*page catalogo mobile*/
  .main-catalogo {
    display: grid;
    grid-template-areas:
      "main-beer-1"
      "main-beer-2"
      "main-beer-3"
      "main-beer-4";
  }
  .main-catalogo img {
    width: 100%;
    height: 200px;
  }
  /*PAGE BARRIL MOBILE */
  .main-barril img {
    width: 95%;
    margin: 0%;
    left: 0%;

  }

  /*PAGE CONTACTO MOBILE*/
  .main-contacto form {
    width: 100%;
     }
  }