//*main index*  
.main-index {
    display: flex;
    flex-direction: column;

    img {

        width: 90%;
        margin: 30px;
        border: 5px solid black;
        border-radius: 15px;

        &:hover {
            transform: scale(0.9);
        }
    }

    a {
        color: $color-primario;
        position: relative;
        display: flex;
        justify-content: center;
    }


    .top-imagenes {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imagen-1 {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translateX(-50%) translateY(-50%);
            -webkit-text-stroke: 2px black;
            font-size: 40px;

        }
    }
}

//MAIN-SOMOS
.main-somos {

    align-items: center;


    .top-somos {
        display: flex;
        align-items: center;
        margin: 10px;

        img {
            width: 50%;
        }

        p {
            margin: 7px;
            font-size: 15px;
            text-align: justify;
            font: oblique bold 120% cursive;
        }

    }

    .bot-somos {
        display: flex;
        align-items: center;
        margin: 10px;

        img {
            border-radius: 15px;
            border: 3px solid black;
            width: 50%;
            margin: 5px;
        }

        p {
            margin: 7px;
            font-size: 15px;
            text-align: justify;
            font: oblique bold 120% cursive;
        }
    }
}

// MAIN-CATALOGO
.main-catalogo {
    display: grid;
    margin: 2px;
    grid-template-areas:
        "main-beer-1 main-beer-2"
        "main-beer-3 main-beer-4";

    .main-beer-1 {
        grid-area: main-beer-1;


        img {
            width: 70%;
            height: 80%;
            border: 5px solid black;

        }
    }

    .main-beer-2 {
        grid-area: main-beer-2;

        img {
            width: 70%;
            height: 80%;
            border: 5px solid black;
        }

    }

    .main-beer-3 {
        grid-area: main-beer-3;

        img {
            width: 70%;
            height: 80%;
            border: 5px solid black;
        }


    }

    .main-beer-4 {
        grid-area: main-beer-4;

        img {
            width: 70%;
            height: 80%;
            border: 5px solid black;
        }

    }

}


//MAIN-BARRIL
.main-barril {
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        margin-top: 2%;
        border-radius: 15px;
        width: 60%;
        border: 4px solid black
    }

    p {
        text-align: justify;
        font: oblique bold 120% cursive;
    }

}

// MAIN-CONTACTOç
.main-contacto {

    form {
        width: 100%;
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
        border-radius: 7px;

    }

    h2 {
        background-color: black;
        color: aliceblue;
        text-align: center;
        margin: 0%;
        font-size: 30px;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }


    textarea {
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }

    #boton {
        background-color: black;
        color: white;
        padding: 20px;

        &:hover {
            cursor: pointer;
        }

    }
}





@media (max-width: 768px) {

    //HEADER
    header {

        img {
            width: 60%;

        }

        h1 {
            position: relative;
            padding-left: 0%;
            font-size: 30px;

        }

        nav {
            position: relative;
            top: 0px;

        }
    }

    //MAIN-INDEX
    .body {
        padding-left: 300%;
    }


    .main-index {
        margin: 1%;

        .imagen-index {
            margin: 0%;
            width: 100%;
            height: 100%;
        }


    }

    //MAIN-SOMOS
    .main-somos {
        flex-direction: column;

        p {
            margin: 7px;
            font-size: 15px;
            text-align: justify;
        }

        .top-somos {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
            }
        }


        .bot-somos {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
            }
        }

    }

    //MAIN-BARRIL
    .main-barril {

        img {
            border-radius: 15px;
            width: 95%;
            border: 6px solid black
        }

        p {
            text-align: justify;
            font-size: 30px;
        }
    }

    .main-catalogo {
        display: flex;
        flex-direction: column;



    }

}

@media (max-width: 320px) {

    //HEADER
    header {

        img {
            width: 60%;

        }

        h1 {
            position: relative;
            padding-left: 0%;
            font-size: 30px;

        }

        nav {
            position: relative;
            top: 0px;

        }
    }

    //MAIN-INDEX
    .main-index {

        img {
            width: 100%;
            height: 50%;
        }

        h2 {
            font-size: 5px;
        }

    }

    //MAIN-SOMOS
    .main-somos {
        flex-direction: column;

        p {
            margin: 7px;
            font-size: 15px;
            text-align: justify;
        }

        .top-somos {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
            }
        }


        .bot-somos {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
            }
        }


    }
}