.footer-index{
    border-radius: 15px;
    background-color: green;
    display: flex;
    flex-direction: row;
      position: relative;
    justify-content: center;
    img{
       width: 100px; 
    }
  }
  @media screen and (max-width:768px){
    .footer-index{
        img{
        width: 80px;
    }
    }
  }
  @media screen and (max-width:320px){
    .footer-index{
        img{
            width: 50px;
        }
    }
  }
  
  