.footer-index{
    border-radius: 15px;
    background-color: green;
    display: flex;
    flex-direction: row;
      position: relative;
    justify-content: center;
    img{
       width: 100px; 
    }
  }

  
  